<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>

<table class="table table-striped table-bordered">
  <thead>
    <th>City</th>
    <th>Maximum Occupants</th>
    <th>Address</th>
    <th>Description</th>
    <th>Number of Bedrooms</th>
    <th>Availability</th>
    <th>Price</th>
    <th>Number of Bathrooms</th>
    <th>Listed By</th>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.city %></td>
        <td><%= listing.max_occupants %></td>
        <td><%= listing.address %></td>
        <td><%= listing.description %></td>
        <td><%= listing.num_bedrooms %></td>
        <td><%= boolean_to_icon listing.availability %></td>
        <td><%= number_to_currency listing.price %></td>
        <td><%= listing.num_bathrooms %></td>
        <td><%= listing.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @listings, renderer: BootstrapPagination::Rails %>